* {
	font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-image: url("../images/concrete-texture/concrete-texture.png");
	position: relative;
}

/*.collapsible,
.collapsible-header {
	border-color: gray;
}*/

nav,
.nav-wrapper,
.page-footer {
	background-color: rgba(179, 221, 242, 1);
}

#logo {
	height: auto;
	width: 100px;
}

.collection-item {
	background-color: rgba(0,0,0,0);
}

.collection-item:hover {
	background-color: #424242!important;
}

.footer-copyright {
	background-color: #ee6e73!important;
}

#mapid {
	height: 100%;
	z-index: 1;
}

#flag {
	/*opacity: 0.7;*/
	position: absolute;
	top: 70px;
	right: 10px;
	width: 10%;
	min-width: 30px;
	height: auto;
	z-index: 2;
}

#main-action {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	z-index: 2;
	display: none;
}

.about {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 2;
}

.crew {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 2;
}

.contact {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 2;
}

.thanks {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	z-index: 2;
}

p {
	font-size: 18px;
}