* {
	font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-image: url("../images/concrete-texture/concrete-texture.png");
	position: relative;
}

p {
	font-size: 18px;
}

nav,
.nav-wrapper,
.page-footer {
	background-color: rgba(179, 221, 242, 1);
}

#logo {
	height: auto;
	width: 100px;
}

.collection-item {
	background-color: rgba(0,0,0,0);
}

.avatar:hover {
	background-color: #e3f2fd;
}

.my-history:hover,
.global-history:hover {
	background-color: #424242!important;
}

.footer-copyright {
	background-color: #ee6e73!important;
}

.row {
	width: 90%;
}

#mapid {
	height: 100%;
	z-index: 1;
}

#main-action {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	z-index: 2;
	display: none;
}