body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-wrapper,
.footer-copyright {
	background-color: #B3DDF2;
}

/** {
	color: #FF0000!important;
}*/

main {
    flex: 1 0 auto;
}

#mapid {
	height: 100%;

}